<p>Hi,</p>
<p>Thanks for using our app.  Please click below to authorize us so we can store your wish list.</p>
<p><a href="#" class="fb_login">Get Started</a></p>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= Facebook::APP_ID %>', // App ID
      channelURL : '//wishlistforall.herokuapp.com/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      oauth      : true, // enable OAuth 2.0
      xfbml      : true  // parse XFBML
    });

    // Additional initialization code here
    FB.Event.subscribe('auth.login', function (response) {
      window.location = '/'
    });
  };


  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));


   function login() {
      FB.login(function(response) {
         if (response.authResponse) {
           console.log('Welcome!  Fetching your information.... ');
           FB.api('/me', function(response) {
             //console.log('Good to see you, ' + response.name + '.');
              window.location = '/'
           });
         } else {
           console.log('User cancelled login or did not fully authorize.');
         }
       }, {scope: 'email'});
  }

   $(document).ready(function(){
    $('.fb_login').click(function() { 
      login()
      return false
    })
   });
   
</script>
