<h1>Welcome To WishList</h1>
<p>Create wish lists to share with your friends and family.</p>
<ol>
  <li><strong>Step 1:</strong> Create a list (Ex: Christmas 2012)</li>
  <li><strong>Step 2:</strong> Create items on your list.</li>
  <li><strong>Step 3:</strong> Share with your friends and family.</li>
</ol>

<%= link_to "Create a list", new_list_path %>
<%= link_to "Current Lists", lists_path %>
