<h1>Welcome To WishList</h1>
<p>Create wish lists to share with your friends and family.</p>
<ol>
  <li><strong>Step 1:</strong> Create a list (Ex: Christmas 2012)</li>
  <li><strong>Step 2:</strong> Create items on your list.</li>
  <li><strong>Step 3:</strong> Share with your friends and family.</li>
</ol>
<%= link_to "Create a list", new_list_path, :class => 'fancy smaller' %>
<%= link_to "Current Lists", lists_path, :class => 'fancy smaller'%>
<br /><br />
<h3>Watch A Quick Turorial</h3>
<object id="scPlayer"  width="660" height="405" type="application/x-shockwave-flash" data="http://content.screencast.com/users/jessbrown/folders/Jing/media/6c9e1651-6a6d-4b74-b66d-cf748c55b15f/jingh264player.swf" >
  <param name="movie" value="http://content.screencast.com/users/jessbrown/folders/Jing/media/6c9e1651-6a6d-4b74-b66d-cf748c55b15f/jingh264player.swf" />
  <param name="quality" value="high" />
  <param name="bgcolor" value="#FFFFFF" />
  <param name="flashVars" value="thumb=http://content.screencast.com/users/jessbrown/folders/Jing/media/6c9e1651-6a6d-4b74-b66d-cf748c55b15f/FirstFrame.jpg&containerwidth=660&containerheight=405&content=http://content.screencast.com/users/jessbrown/folders/Jing/media/6c9e1651-6a6d-4b74-b66d-cf748c55b15f/00000040.mp4&blurover=false" />
  <param name="allowFullScreen" value="true" />
  <param name="scale" value="showall" />
  <param name="allowScriptAccess" value="always" />
  <param name="base" value="http://content.screencast.com/users/jessbrown/folders/Jing/media/6c9e1651-6a6d-4b74-b66d-cf748c55b15f/" />
  <iframe type="text/html" frameborder="0" scrolling="no" style="overflow:hidden;" src="http://www.screencast.com/users/jessbrown/folders/Jing/media/6c9e1651-6a6d-4b74-b66d-cf748c55b15f/embed" height="405" width="660" ></iframe>
</object>


