// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_item {
  .field {
    float: left;
    width: 33%;

  }
  textarea {
    height: 50px;
    width: 230px;
  }
}
